.container-top-margin{
    margin-top:80px;
}
.home-body{
    height: 100vh;
    padding-top: 150px;
    max-width: 1000px;
}
.article-preview-container{
    width: 100%;
    height: 100%;
    padding-top: 60px;
}
