.navbar{
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}
.nav-container{
  width: 1000px;
  display: flex;
  flex-direction: row;
}
.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}
.nav-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
.navbar-brand {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-link{

  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
  color: #6c757d;
}
  