.new-blog-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .canvas-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
  }
  .new-blog-content {
    height: 400px;
    margin-bottom: 80px;
    
  }
  .pic-space{
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .uploaded-pic{
    max-width: 100%;
    position: relative;
    max-height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  
  }
  .log-in-box{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    max-width: 800px;
    box-shadow: 10px 10px 50px -10px lightgray;
    z-index: 5;
  }

  .background-gears{
    position: absolute;  
    height: 500px;
    width: 500px;
    background-image: url("../../lib/assets/UpShiba.png");
    background-position: center;
    opacity: .8;
    left: calc(50vw - 250px);
    z-index: -1;
    top:180px;
    animation: rotateGear 480s linear 0s infinite normal both;

  }  
  @keyframes rotateGear {
    100% {transform: rotate(360deg);}
  }
  @keyframes rotateGear2 {
    0%  {transform: rotate(30deg);}
    100% {transform: rotate(390deg);}
  }

  .oauth-button{
 
    height: 50px;
    z-index: 5;
    margin-bottom: 0px;
  }  
  .background4button{
    background-color: #ffffff;
    transform: translateY(40px);
    border-radius: 8px;
    
  }

.register-box{
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    z-index: 5;
    box-shadow: 10px 10px 50px -10px lightgray;
    margin-top: 100px;
}
.auth-button-container{
    z-index: 5;
}
.login-logo{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../lib/assets/UpShiba.png");
    background-position: center;
    opacity: 1;
    display: flex;
    background-size:contain; 
    background-repeat: no-repeat;
    cursor: pointer;
}
@media (min-width: 470px) {
  .log-in-box{
    margin-top: 200px;
  }}
 

  body{
    overflow-y: auto;
    background-color: var(--bg-color);
  }


.w-120{
  width: 120px;
}